.location-ship {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 48px;
    margin-bottom: 20px;
    padding: 14px 17px 14px 40px;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;

    &_category {
        color: #0288d1;
        font-weight: 700;
        white-space: nowrap;
    }

    &_location {
        width: 100%;
    }

    i {
        margin: 0 10px;
    }
}