.title{
    color: #464646;
    line-height: 1.5;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}
.item{
    display: inline-block;
    width: 100%;
    padding: 5px;
    color: white;
    margin: 10px 0px 0px 0px;
    font-size: large;
    border-radius: 5px;
    font-weight: 500;
}
.phone{
    background-color: #329900;
}
.facebook{
    background-color: #187caa;
}
.google{
    background-color: #ff5252;
}
i{
    float: left;
    padding: 5px 0px 0px 10px;
}
.login-via{
    padding-bottom: 30px;
}
.wrapper{
    justify-content: center;
    margin-top: 50px;
}
.content-container{
    background-color: white;
    text-align: center;
    /* width:70%; */
    width: 600px;
    /* Center horizontally*/
    margin: auto;
    margin-top: 10px;
    padding: 20px 30px 20px 30px;
}
.input-group{
    display: flex;
    width: 100%;
    /* margin-bottom: 15px; */
    border: 1px solid grey;
    border-collapse: collapse;
    font-size: 15px;
}
.input-group i{
    padding: 10px;
    background: white;
    color: grey;
    min-width: 50px;
    text-align: center;
}
.form-login-input{
    padding-top: 20px;
}
.input-group input{
    width: 90%;
    border: none;
    border-color: transparent;
}
.input-group input:focus{
    border: none;
    border-color: transparent;
    outline: none;
}
.float-left{
    float: left;
    font-size: large;
}
.float-left label{
    font-size: 15px;
}
.float-right{
    float: right;
}
.float-right a{
    color: #0288d1;
    font-size: 15px;
}
.clearfix{
    padding-top: 15px;
}
.form-login-input .btn{
    width: 100%;
    background-color: #0288d1;
    color: white;
    padding: 7px;
    margin: 15px 0px 50px 0px;
    font-size: 15PX;
}
.login-mess-policy{
    font-size: 15PX;
}
.login-mess-policy a{
    color: #0288d1;
    text-decoration: underline;
    font-size: 15PX;
}
.alert-danger{
    display: none;
    padding: 10px;
}
select{
    border: none;
    border-color: transparent;
    outline: none;
}