.item-list {
    margin-bottom: 15px;
    transition: 0.2s;

    a {
        position: relative;
        display: flex;
        border-radius: 5px;
    }

    &_img {
        height: 90px;
        min-width: calc(100% / 4);
        margin-right: 10px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &_info {
        overflow: hidden;

        .info_title,
        .info_address {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #333;
        }

        .info_title {
            display: flex;
            align-items: center;
            font-size: 16px;
            font-weight: 700;

            img {
                width: 17px;
                margin-bottom: 3px;
                margin-right: 5px;
            }
        }

        .info_address {
            color: #959595;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .info_discount {
            display: flex;
            align-items: center;

            i {
                color: #cf2127;
                font-size: 12px;
                margin-right: 5px;
            }

            span {
                color: #187caa;
                font-weight: 700;
            }
        }

        .info_active {
            position: absolute;
            top: -5px;
            left: -5px;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: rgb(35, 152, 57);
        }

        .info_price {
            display: flex;

            &-item {
                display: flex;
                align-items: center;
                margin-right: 10px;

                i {
                    margin-right: 5px;
                    color: #aaa;
                    font-size: 12px;
                }

                .fa-tag {
                    transform: rotate(90deg);
                }

                span {
                    color: #999;
                }
            }
        }
    }
}
