.map {
    height: 100%;
    background-color: white;

    &_gg {
        iframe {
            width: 100%;
            border: 1px solid #aaa;
        }
    }

    &_location {
        padding: 15px;
        div[class^="map_location"] {
            display: flex;
        }

        &-start {
            margin-bottom: 10px;
            .location-label {
                background-color: #cf2127;
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    bottom: -40px;
                    left: 50%;
                    height: 40px;
                    width: 2px;
                    background-color: #ccc;
                }
            }

            .start-address {
                p {
                    font-weight: 700;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }

        &-end {
            .location-label {
                background-color: #6cc942;
            }

            .user-name {
                font-weight: 700;
            }
        }
    }

    .location-label {
        width: 15px;
        height: 15px;
        margin-right: 10px;
        margin-top: 5px;
        border-radius: 50%;
    }
}
