.corporation .container {
    position: relative;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(50, 50, 50, 0.1);
}

.corporation-1 {
    padding: 20px 140px 50px;
    margin-top: 120px;

    &_title {
        margin-bottom: 10px;
        font-size: 22px;
        color: #464646;
        font-weight: 700;
    }

    &_subtitle {
        font-size: 15px;
        color: #464646;
    }
}

.corporation-2 {
    margin-top: 70px;
    padding: 50px 350px 50px 150px;

    &_img {
        position: absolute;
        bottom: -1px;
        right: 0;
        width: 350px;
        display: flex;
        justify-content: center;
    }
    img {
        width: 85%;
    }
}

.corporation-3 {
    img {
        width: 50%;
    }
}
