.owner {
    .container {
        padding: 15px;
        background-color: white;
    }
    form {
        min-width: 450px;
    }
    .form-group {
        margin-bottom: 15px;
    }

    .error {
        color: red;
    }
}