.filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 8px;
    border-bottom: 1px solid #ccc;
    z-index: 10;

    &_left {
        display: flex;
    }

    &_item {
        position: relative;
        margin-right: 20px;

        &-list {
            position: absolute;
            top: 35px;
            display: none;
            min-height: 100px;
            width: 867px;
            padding: 15px;
            background-color: #fff;
            z-index: 10;

            div {
                display: flex;
                align-items: center;
                input {
                    margin-right: 5px;
                }
            }
        }

        &-list-active {
            display: flex;
            flex-wrap: wrap;
        }

        &-btn {
            cursor: pointer;
            padding: 5px 10px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            z-index: 10;

            i {
                margin-right: 5px;
            }
        }

        &-btn-active {
            background-color: #ffff;
        }

        &-active {
            display: block;
            box-shadow: 1px 1px 5px 0 rgba(50, 50 ,50, 0.4);
            border-radius: 5px;

            .area-list_item {
                display: flex;
                align-items: center;
                float: left;
                width: calc(100% / 5);
                margin-bottom: 5px;

                input {
                    margin-right: 5px;
                    margin-bottom: 2px;
                }
            }
        }
    }
}
