.filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 8px;
    border-bottom: 1px solid #ccc;

    &_left {
        display: flex;
    }

    &_item {
        position: relative;
        margin-right: 20px;
        
        &-list {
            position: absolute;
            top: 25px;
            display: none;
            background-color: #fff;
        }
    }

}