.small-text{
    font-size: small;
}
.order-shop-name{
    font-size: 12px;
    font-weight: bolder;
    
}
.order-shop-address{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
li {
    font-size: 14px;
    margin-left: 10px;
    list-style-type: circle;
 }
 .modal-row{
     width: 700px;
 }
 /* .big-col{
     width: 30%;
 } */
 .detail{
     color: blue
 }
 .detail:hover{
     cursor: pointer;
 }