#search-modal {
    background-color: rgba(0, 0, 0, 0.8);

    .modal-dialog {
        width: 70%;
        max-width: 1140px;
        margin-top: 5%;
    }

    .modal-content {
        position: relative;
        background-color: transparent;
    }

    .modal_img {
        display: flex;
        justify-content: center;
    }

    .modal_title {
        margin-top: 15px;
        text-align: center;
        color: #fff;
        font-size: 16px;
    }

    .modal_input {
        margin-top: 30px;
        form,
        input {
            width: 100%;
        }

        input {
            background-color: transparent;
            border: none;
            outline: none;
            border-bottom: 1px solid #ccc;
            color: #fff;
            text-align: center;
            font-size: 16px;
        }
    }

    .modal_exit {
        position: absolute;
        top: 30px;
        right: 0;
        color: #fff;
        cursor: pointer;
        z-index: 1070;
        i {
            font-size: 24px;
        }
    }
}
