@import "bootstrap/dist/css/bootstrap.min";
@import "line-awesome/dist/line-awesome/css/line-awesome.min";
@import "@fortawesome/fontawesome-free/css/all.min.css";

body {
    background-color: #f2f2f2;
    overflow-y: scroll;
}

ul,li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

*{
    margin: 0;
    padding: 0;
    font-size: 14px;
    box-sizing: border-box;
}

p {
    margin-bottom: 0;
}

.wrapper {
    margin-top: 70px;
}

a{
    text-decoration: none;
    color: #333;
    &:hover {
        color: #333;
    }
}

.container {
    max-width: 1200px;
}

.modal-open {
    .header, .banner {
        width:calc(100% - 13px);
    }
}